[Unit]
Description=Radio alarm service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /opt/radio-alarm-service

[Install]
WantedBy=multi-user.target